<!DOCTYPE html>
<html>
  <head>
    <title>Tomas Davies | Handyman</title>

    <!-- Meta General -->
    <meta charset="utf-8">
    <meta name="description" content="Tomas Davies, an experienced handyman in Key West, Florida, offers top-notch services with a commitment to quality, safety, and customer satisfaction. Contact us today!">
    <meta name="author" content="Tomas Davies">
    <meta name="keywords" content="handyman, handyman services, Tomas Davies, Key West handyman, home repair, maintenance, cleaning services, Key West, Florida handyman, property repair, home maintenance, professional handyman, handyman near me, handyman in Florida Keys">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Open Graph Metadata (Para redes sociales) -->
    <meta property="og:title" content="Tomas Davies | Handyman">
    <meta property="og:description" content="Providing exceptional handyman services in Key West, Florida. Trust Tomas Davies for all your home repair and maintenance needs.">
    <meta property="og:image" content="/images/handyman-logo.png">
    <meta property="og:url" content="https://tomasdavieshandyman.com">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tomas Davies | Handyman">
    <meta name="twitter:description" content="Providing exceptional handyman services in Key West, Florida. Trust Tomas Davies for all your home repair and maintenance needs.">
    <meta name="twitter:image" content="/images/handyman-logo.png">
    <meta name="twitter:creator" content="@tomasdavies">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="128x128" href="/images/handyman-logo.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/handyman-logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/handyman-logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/handyman-logo.png">
    <link rel="icon" type="image/ico" href="/images/handyman-logo.png">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/handyman-logo.png">

    <!-- Theme Color -->
    <meta name="theme-color" content="#FE5E41">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>